body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    text-align: center;
}

.title {
    margin: 30px 0;
    font-size: 32px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 30px;
    justify-content: center;
}

.card {
    border: 2px solid #000;
    padding: 30px 15px;
    text-decoration: none;
    color: black;
    background: white;
    font-weight: bold;
    transition: 0.3s;
}

.card:hover {
    background: black;
    color: white;
    transform: scale(1.05);
}
