body {
  background: #020617;
  color: white;
  font-family: Arial;
  text-align: center;
}

.grid {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.card {
  padding: 25px 50px;
  background: #1e293b;
  color: white;
  text-decoration: none;
  border-radius: 12px;
}
