body {
  background: #020617;
  color: white;
  font-family: Arial;
  text-align: center;
}

.grid {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin-top: 40px;
}

.card {
  padding: 25px;
  width: 200px;
  background: #1e293b;
  border-radius: 14px;
  text-decoration: none;
  color: white;
}
